## Functions in Python

Functions in Python. A function is a set of statements that take inputs, do some specific computation and produces output. These functions are called user defined function.
* common lines of code is implimented using functions
* positional and keyword Arguments in Function.

In [2]:
## summing even and odd numbers
lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]

even_sum = 0
odd_sum = 0
for i in lst:
    if i%2==0:
        even_sum = even_sum + i
    else:
        odd_sum = odd_sum + i
print(even_sum, odd_sum)

56 53

In [17]:
def hello_world():
    return "Hello World"

In [18]:
hello_world()

'Hello World'

In [21]:
#here name- positional argument, age-keyword argument(like key value pair)
def hello(name,age=25):
    print('My name is {} and age is {}'.format(name,age))

In [22]:
hello('priya')

My name is priya and age is 25

In [23]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [26]:
# "*args" - positional argument(indicated by single '*'), "**kwargs"-Keyword argument(indicated by '**')
def hello(*args,**kwargs):
    print(args)  #printing positional arguments
    print(kwargs) #printing keyword arguments

In [27]:
hello('priya','mora','puppy','dheeraj',age=25,sibllings=3)

('priya', 'mora', 'puppy', 'dheeraj')
{'age': 25, 'sibllings': 3}

In [29]:
lst = ['Priya','puppy','doggie']
dic = {'age':25, 'mom':1, 'lappy':2}

In [30]:
hello(lst,dic) #here taking both arguments as positional arguments

(['Priya', 'puppy', 'doggie'], {'age': 25, 'mom': 1, 'lappy': 2})
{}

In [31]:
hello(*lst,**dic)

('Priya', 'puppy', 'doggie')
{'age': 25, 'mom': 1, 'lappy': 2}

In [5]:
'''
syntax 
def function(parameter1,parameter2,..):
    fuction body
    '''

'\nsyntax \ndef function(parameter1,parameter2,..):\n    fuction body\n    '

In [6]:
def add(num1,num2):
    return num1+num2

In [9]:
add(4,9)

13

In [14]:
def add_list(lst):
    sum1=0
    for i in lst:
        print(i)
        sum1= sum1+int(i)
    return sum1

In [11]:
add_list([1,2,3,4,5,6])

1
2
3
4
5
6

21

In [12]:
input_num = list(input('enter the list'))

enter the list1234567

In [13]:
input_num

['1', '2', '3', '4', '5', '6', '7']

In [15]:
add_list(input_num)

1
2
3
4
5
6
7

28

## Lambda funtion

* Anomymous function
* A function with no name
* Lambda functions are use to express only single  expression

In [32]:
#defining a function for adding two numbers
def addition(a,b):
    return a+b

In [33]:
addition(2,5)

7

In [35]:
#above single exresion can be obtained using lambda function
addition = lambda a,b: a+b

In [36]:
addition(11,14)

25

In [37]:
def even(num):
    if num%2==0:
        return True

In [38]:
even(22)

True

In [39]:
even1 = lambda a:a%2==0

In [40]:
even1(22)

True

In [45]:
def addition(x,y,z):
    return x+y+z

In [46]:
addition(2,3,4)

9

In [47]:
addition = lambda x,y,z: x+y+z

In [48]:
addition(2,3,4)

9

## Map Function

In [51]:
#function for even or odd
def even_or_odd(num):
    if num%2==0:
        return "The number {} is even".format(num)
    else:
        return "The number {} is odd".format(num)

In [52]:
even_or_odd(24)

'The number 24 is even'

In [53]:
#if we want to apply the same operation in a lis tof elements it takes more time if we use 'if' function- so we use map function to do this
lst = [1,2,3,4,5,5,6,7,87,56,34]

In [54]:
map(even_or_odd,lst) # map(function name,iterable)

In [55]:
list(map(even_or_odd,lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 87 is odd',
 'The number 56 is even',
 'The number 34 is even']

## Filter Function

In [59]:
def even(num):
    if num%2==0:
        return True

In [60]:
lst = [1,2,3,4,5,6,7,55,45,67,23,44,76] #iterable

In [63]:
#syntax - filter(function_name,iterable)
#here filters outs only the even numbers
list(filter(even,lst))

[2, 4, 6, 44, 76]

In [62]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 44, 76]

In [67]:
list(map(lambda num:num%2==0,lst)) #output of all numbers are displayed

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 True]

## List comprehension

List comprehension provide a concise way to create lists. It consists of brackets containing an expression followed by a for clause, then zero or more for or if clause. The expression can be anything, meaning you can put in all kinds of objects in lists.

In [68]:
lst1=[]
def list_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [69]:
list_square([1,2,3,4,5,6])

[1, 4, 9, 16, 25, 36]

In [70]:
#the same can be obtained using list compresion
lst = [1,2,3,4,5,6]
[i*i for i in lst]

[1, 4, 9, 16, 25, 36]

In [71]:
lst1 = [i*i for i in lst]

In [72]:
lst1

[1, 4, 9, 16, 25, 36]

In [73]:
#square only even numbers
lst = [1,2,3,4,5,6,7]
[i*i for i in lst if i%2==0]

[4, 16, 36]

In [76]:
lst3 = [i*i for i in lst if i%2!=0]

In [77]:
lst3

[1, 9, 25, 49]