## Basic arthematic operations

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
2*10

20

In [4]:
10/2

5.0

In [5]:
10%2

0

In [6]:
#power of a number
10**2

100

In [7]:
##to check the type
type(True)

bool

In [8]:
type('Hello')

str

## Strings

In [9]:
'Hello'

'Hello'

In [10]:
"Hello"

'Hello'

In [11]:
type('priya')

str

## Variable assignment

In [12]:
#syntax 
#var_name = values
a=10

In [13]:
type(a)

int

In [14]:
a = " Priya Mora"

In [15]:
type(a)

str

In [16]:
#Mathematical operations with variable assignment
a=10
b=20

In [17]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b))  #BODMAS

200
0.5
10
200.5

In [18]:
##Various ways of printing
print('Hello')

Hello

In [19]:
first_name = "Priya"
last_name = "Mora"

In [20]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Priya and last name is Mora

In [21]:
print('My first name is {first} and my last name is {last}'.format(last = last_name, first=first_name))

My first name is Priya and my last name is Mora

In [22]:
len('Priya')

5

In [23]:
type(['1',2,3,4,5])

list

## Python data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- Lists
- Comparision operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [23]:
False

False

In [24]:
print(True,False)

True False

In [25]:
type(True)

bool

In [26]:
type(False)

bool

In [1]:
my_str = 'Priya123'

In [28]:
my_str.istitle()

True

In [29]:
print(my_str.isalnum()) #check if all char are alpha numeric
print(my_str.isalpha()) #check if all char are the str or alphabet
print(my_str.isdigit()) #tests if string contains digits
print(my_str.istitle()) #tests if str contsins title word
print(my_str.isupper()) #tests if the str contains upper case
print(my_str.islower()) #tests if the str contains lower case
print(my_str.isspace()) #tests if str contains spaces
print(my_str.endswith('a')) #tests if str ends with 'a'
print(my_str.startswith('P')) #tests if str starts with 'P'

True
False
False
True
False
False
False
False
True

## Boolean and Logical Operators

In [30]:
True and True

True

In [31]:
True and False

False

In [32]:
True or False

True

In [33]:
True or True

True

In [34]:
str_example = 'Hello World'
my_str = 'Priya'

In [35]:
my_str.isalpha() or str_example.isnumeric()

True

## Lists
A list is a data structure in Python that is mutable or changable, ordered sequence of elements. Each element or value that is inside of the list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [36]:
type([])

list

In [37]:
lst_example = []

In [38]:
type(lst_example)

list

In [39]:
lst = list()

In [40]:
type(lst)

list

In [4]:
lst = ['Mathematics','chemistry',100,200,300,204]

In [5]:
len(lst)

6

In [6]:
type(lst)

list

## Methods in list
## Append

In [7]:
#append is used to add elements in the list- adds elements at the last place
lst.append('Priya')
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Priya']

In [8]:
lst.append(['John','Bala'])  #adds list as the other element
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Priya', ['John', 'Bala']]

In [9]:
#indexing in lists
lst[6]

'Priya'

In [10]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

In [11]:
lst[2:6]

[100, 200, 300, 204]

In [12]:
lst[:6]

['Mathematics', 'chemistry', 100, 200, 300, 204]

In [13]:
lst[4:]

[300, 204, 'Priya', ['John', 'Bala']]

## Insert

In [14]:
# insert in a specific order
lst.insert(2,'Mora')
lst

['Mathematics',
 'chemistry',
 'Mora',
 100,
 200,
 300,
 204,
 'Priya',
 ['John', 'Bala']]

In [15]:
lst.append(['Hello','World'])

In [16]:
lst

['Mathematics',
 'chemistry',
 'Mora',
 100,
 200,
 300,
 204,
 'Priya',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [17]:
lst = [1,2,3]

In [18]:
lst.append([4,5])

In [19]:
lst

[1, 2, 3, [4, 5]]

## Extend Method

In [61]:
lst = [1,2,3,4,5,6]

In [62]:
lst.extend([8,9])
lst

[1, 2, 3, 4, 5, 6, 8, 9]

## Various Operations that we can perform in List

In [63]:
lst = [1,2,3,4,5]

In [64]:
sum(lst)

15

In [66]:
lst*5  #appends same list of elements 5 times

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## Pop()

In [67]:
print(lst)
lst.pop()  #default removes last element
lst

[1, 2, 3, 4, 5]

[1, 2, 3, 4]

In [68]:
print(lst)
lst.pop(1) #removes element at index 1
lst

[1, 2, 3, 4]

[1, 3, 4]

## Count()
Calculates total occurances of the given element of List

In [73]:
lst = [1,1,2,3,6,5]
lst.count(1)

2

In [74]:
len(lst)

6

In [75]:
#knowing the index by using index method
#index(): Returns the index of first occurance, Start and end index are not necessary
lst.index(2)

2

In [77]:
print(lst)
lst.index(6)

[1, 1, 2, 3, 6, 5]

4

In [79]:
print(lst)
lst.index(1,0,4) #0-start index, 4-end index

[1, 1, 2, 3, 6, 5]

0

In [80]:
min(lst)

1

In [81]:
max(lst)

6

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [20]:
#defing an empty set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [21]:
set_var = {1,2,3,4,3}

In [22]:
set_var

{1, 2, 3, 4}

In [25]:
set_var = {'Avengers','Ironman','Hitman'}
print(set_var)
print(type(set_var))

{'Avengers', 'Hitman', 'Ironman'}
<class 'set'>

In [26]:
set_var.add('Hulk')

In [27]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [33]:
set1 = {'Avengers','Ironman','Hitman'}
set2 = {'Avengers','Ironman','Hitman','Hulk2'}

In [29]:
set2.intersection_update(set1)

In [30]:
set2

{'Avengers', 'Hitman', 'Ironman'}

In [34]:
#difference
set2.difference(set1)

{'Hulk2'}

In [35]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [36]:
#difference update - inplace changes
set2.difference_update(set1)

In [37]:
set2

{'Hulk2'}

In [58]:
s = {1,23,3,3,54,4,4,5,6}

In [60]:
#no duplicates are allowed
s

{1, 3, 4, 5, 6, 23, 54}

## Dictionaries

A dictionary is a collection which is unordered, changeble/mutable and indexed. In python dictionaries are written with curly brackets, and they keys and values.

In [38]:
dic = {}

In [39]:
type(dic)

dict

In [40]:
type(dict())

dict

In [41]:
set_ex = {1,2,3,4,5}

In [42]:
type(set_ex)

set

In [43]:
my_dict={'Car1':'Audi','Car2':'BMW','Car3':'Mercidies Benz'}

In [44]:
type(my_dict)

dict

In [45]:
#Acessing the item values based on keys
my_dict['Car1']

'Audi'

In [46]:
#We can even loop through the dictionaries keys
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [48]:
#We can loop through the dictionaries values
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [49]:
#looping over key value pairs
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [50]:
#Adding items into dictionary
my_dict['Car4']='Audi 2.0'

In [51]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

In [52]:
#replacing the values in dictionary
my_dict['Car1']='Maruti'

In [53]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Audi 2.0'}

## Nested dictionaries

In [54]:
car1_model = {'Mercedes':1960}
car2_model = {'Audi':1970}
car3_model = {'Ambassador': 1980}

car_type = {'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [55]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [56]:
#Acessing the elements in the dictionary
car_type['car1']

{'Mercedes': 1960}

In [57]:
car_type['car1']['Mercedes']

1960

## Tuples

In [61]:
#creating an empty tuple
my_tuple = tuple()

In [62]:
type(my_tuple)

tuple

In [64]:
my_tuple = ('Priya','Ankur','John')

In [65]:
my_tuple[0]

'Priya'

In [66]:
my_tuple[2]

'John'

In [69]:
#Tuples are immutable
my_tuple[0]='Dheeraj'

TypeError: 'tuple' object does not support item assignment

In [71]:
#inbluit functions
my_tuple.count('Priya')

1

In [72]:
my_tuple.index('Ankur')

1